#section-contact{
    padding: 4rem;
    padding-top: 7rem;
    div.container{
        div.col-12{
            margin-bottom: 4rem;
            h3{

            }
            h2{

            }
            p{
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
            a{
                color: whitesmoke;
                font-size: 1.8rem;
                margin-bottom: 1rem;
                
            }
            .phones{
                margin-left: 2rem;
            }
            iframe{
                border-radius: 20px;
            }
        }
    }
}