footer{
    background-color: $footerBGC;
    margin-top: 1rem;
    div.container{
        padding: 0 !important;
        a.logoFooter{
            img{
                height: 8rem;
                padding: 2rem;
            }
        }
        a{
            color: $red;
            text-align: center;
        }
    }
}

