#section-kobac{
    padding-bottom: 5rem;
    div.container{
        div.row{
            div.col-12{
                .testimonials{
                    margin: 2rem;
                }
                img{
                    max-height: 35rem;
                }
                p{
                    font-size: 2rem;
                    i{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}


