section#section-o-nam{
    padding-bottom: 7rem;
    div.container{
        div.col-12{
            img{
                max-height: 35rem;
            }
        }
    }
}

section#section-nas-tim{
    padding-bottom: 5rem;
    padding-top: 6rem;
    background-color: whitesmoke;
    div.container{
        p{
            color:$pigeon;
        }
        h2{
            color: $pigeon;
        }
        h3{
            color: $pigeon;
        }
        h4{
            color: $pigeon;
        }
    }
}